include figures.pug

mixin gethRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      h3 安装并运行
        strong 命令行界面
      p 我们已经建成
        a(href='https://github.com/ethereum/mist/releases/latest') 易于使用的图形工具
        | , 但如果您是开发人员，您可能需要安装命令行工具。

    .col-md-6
      +gethFigure

  .row
    .col-md-6
      a(href="/cli").button 安装命令行工具

    .col-md-6
      .recipe
        h4 你会需要的
        ul
          li
            Basic 命令行技能
          li
            Basic 编码技能
          li
            1-2 区块链使用GB可用空间

mixin etherRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      h3 了解以太坊，以太坊网络的密码燃料

      p 以太是以太坊的内部'燃料'。 在以太坊上运行的程序需要向网络支付他们消耗的资源。 通过验证交易来确保网络安全，志愿者可以获得这种好处。

      p 或者，如果您参与了预售以资助以太坊的发展，或者从奥运或
        a(href="https://bounty.ethdev.com/") Bug奖励
        | 计划中获得奖励，您将拥有一个可导入的钱包文件（.json），并允许您访问以太网。

      p 您也可以从朋友处获得一些或在线购买。

    .col-md-6
      +etherFigure

  .row
    .col-md-6
      a(href="/ether").button 了解以太

    .col-md-6
      .recipe
        h4 你会：
        ul
          li 了解以太和存在多少
          li 导入您的预售钱包
          li 了解如何使用命令行发送事务

mixin greeterRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      h3 创建Greeter，您的第一份生活合同

      p 本教程将教您如何使用命令行构建合同

      p 欢迎仪式是一个非常简单的合同，当被戳穿时迎接“Hello World”。 如果你以前从未在以太坊制作过任何合约，这就是你应该开始的地方。

    .col-md-6
      +greeterFigure

  .row
    .col-md-6
      a(href="/greeter").button 召唤温和者

    .col-md-6
      .recipe
        h4 你可以构建：
        ul
          li 你的第一个智能合约
          li 一个专业的jokster，付钱去讲笑话
          li 一个长寿的智能机器人，可以回答问题

mixin tokenRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      h3 设计和发行你自己的加密货币

      p 创建一个可用作货币，可用作资产的表示，虚拟共享，会员资格证明或任何其他信息的可交易数字代币。
        | 这些代币使用标准的硬币API，因此您的合同将自动与使用此标准的任何钱包，其他合同或交易所兼容。

      p 循环中的令牌总量可以设置为简单的固定数量或根据任何已编程的规则组进行波动。

    .col-md-6
      +tokenFigure

  .row
    .col-md-6
      a(href="/token").button 发布你的令牌

    .col-md-6
      .recipe
        h4 你可以构建：
        ul
          li 具有固定供应的可交易令牌
          li 可以发行货币的中央银行
          li 基于谜题的加密货币


mixin crowdsaleRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      +crowdsaleFigure

    .col-md-6
      h3 以无可信赖的众包启动一个项目

      p 你有没有想要在以太坊发展的想法？ 也许你需要帮助和一些资金来实现它们，但是谁会借钱给他们不信任的人？

      p 使用以太坊，您可以创建一个合同，持有贡献者的钱，直到达到任何给定的日期或目标。根据结果​​，资金将被释放给项目业主或安全返回给贡献者。 所有这些都是可能的，不需要集中的仲裁员，交换所或者不得不信任任何人。

      p 您甚至可以使用您之前创建的令牌来跟踪奖励的分配情况。

  .row
    .col-md-6
      a(href="/crowdsale").button 启动你的项目

    .col-md-6
      .recipe
        h4 你可以构建：
        ul
          li 用于预售产品的众筹
          li 在区块链组织中出售虚拟股票的众包
          li 拍卖数量有限的物品

mixin daoRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      +daoFigure

    .col-md-6
      h3 创建一个民主自治组织

      p 既然你已经发展了你的想法和担保基金，接下来会是什么？ 你必须聘请经理人，找一个值得信赖的首席财务官来处理账户，举办董事会会议并做一堆文件。

      p 或者你可以把所有这些都留给以太坊合同。 它将收集你的支持者的建议并通过完全透明的投票程序提交。

      p 让机器人运行你的组织的好处之一是，它可以免受任何外部影响，因为它保证只执行它所编程的内容。 由于以太坊网络是分散式的，您将能够提供100％的正常运行时间保证。

  .row
    .col-md-6
      a(href="/dao").button 组建你的组织

    .col-md-6
      .recipe
        h4 你可以组建
        ul
          li 一个虚拟组织，成员们就问题进行投票
          li 基于股东投票的透明协会
          li 你的组织拥有不变的宪法
          li 一个更好的代表民主

mixin futureRecipe(header)
  if header
    h2 #{header}

  .row
    .col-md-6
      h3 构建一种新的分布式应用程序

      p 现在轮到你了：开始建立你在Ethereum创建的梦想吧！ 通过在密码安全的，分散的防篡改网络上运行，您的业务可以得到增强吗？

      p 查看已经在Ethereum上构建的
        a(href="https://www.stateofthedapps.com", target="_blank") 许多伟大项目*。
        | 由于您将成为世界上第一批能够编写分散应用程序的开发人员，其中一些开发人员可能需要您的帮助。

      p.small
        em *以上列表由独立方保存，基金会不认可其内容或任何特定项目

    .col-md-6.future-figure
      +futureFigure

mixin toc()
  ul#table-of-contents.toc.animateme(data-when="enter", data-from="0.4", data-to="0.2", data-translatex="-100", data-opacity="0", data-easing="linear")

mixin inner-header(title)
  .inner-header.default-header.scrollme(class!=attributes.class)
    .breadcrumb.animateme(data-when="exit", data-from="1", data-to="0.8", data-opacity="0", data-translatey="-20")
      a(href="/").index Ethereum
      | »
      strong #{title}
    a(href="/").back « 主页
    figure.ethereum-logo.animateme(data-when="exit", data-from="0", data-to="1", data-translatey="120", data-opacity="0.5", data-scale="0.6", data-easing="linear")

    h3.text-center.animateme(data-when="exit", data-from="0", data-to="0.5", data-translatey="30", data-opacity="0", data-scale="0.7", data-easing="linear")  #{title}
